{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <nav>
        <ul class="pagination">

            {% if previous is defined %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                <li>
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                {% else %}
                    <a>{{ page }}</a>
                {% endif %}
                </li>
            {% endfor %}

            {% if next is defined %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
